@import '../../styles/variables.scss';

.productContainer {
  margin-top: 25px;
  display: flex;
  align-items: center;  
  flex-direction: column;
}

.productContainer h1 {
  width: 100%;
  text-align: center;
  background-color: black;
  line-height: 90px;
  font-size: 30px;
  margin: 20px;
  color: $title-color-principal;
}

.productRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}